:root {
  --blanco: #ffffff;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --oscuro: #212121;
}

/*el instructor escribe codigo mas general al prinicipio del
documento y el mas especifico a medida que va avanzando con el documento*/

html {
  box-sizing: border-box; /*hack para box model*/
  font-size: 62.5%; /*hack para convertir 1 rem a 10 px*/
  min-height: 100%;
  scroll-snap-type: y mandatory;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  line-height: 2;
}
body {
  font-family: "Krub", sans-serif;

  min-height: 100%;
  background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%);
  /*la linea de arriba nos ayuda a establecer degradados*/
}

/*sobra del main*/

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.49);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.49);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.49);
  background-color: var(--blanco);
  padding: 2rem;
}

h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1 span {
  font-size: 2rem;
}

.contenedor {
  margin: 0 auto;
  max-width: 1200px;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none; /*quita la decoracion del texto*/
  text-transform: uppercase; /*tranforma las letras en mayusculas*/
  font-weight: bold;
  border-radius: 0.5rem; /*las esquinas las vuelve redosndas*/
  width: 90%;
  text-align: center;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

/*********************nav***********************/
.nav-bg {
  background-color: var(--secundario);
}
.navegacion {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navegacion {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navegacion a {
  padding: 1rem 2rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}
.navegacion a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

/*********************nav***********************/

/**********hero**********************/

.hero {
  height: 450px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;

  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute; /* el elemento padre seria hero (relative) y el elemento hijo seria contenido hero (absolute )*/
  /*background-color: rgba(0, 0, 0, 0.7); sintaxis anterior*/
  background-color: rgb(0 0 0 / 70%);
  width: 100%;
  height: 100%;

  /**con estas propiedades puedes aliniar verticalmento o horizontalmente y centrar*/
  display: flex;
  flex-direction: column; /*row */
  align-items: center;
  justify-content: center;
  /**con estas propiedades puedes aliniar verticalmento o horizontalmente*/
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.ubicacion {
  display: flex;
  align-items: flex-end;
}

/**********hero**********************/

/************Servicios***********/

@media (min-width: 768px) {
  .servicios {
    display: grid;
    /*
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 800px;*/

    /* se puede hace como arriba o de esta forma simpificada
    grid: 200px 800px / 300px 300px;*/
    /*grid-template-columns: 33.3% 33.3% 33.3%; forma de realizarlo con porsentajes*/
    /*grid-template-columns: 2fr 2fr 2fr; divide el 100% en las fracciones que tenga fr*/
    /*grid-template-columns: repeat(3, 1fr);  version mas corta simprificada*/
    grid-template-columns: repeat(3, 33.3%); /*tambien se peude de esta forma.*/
    column-gap: 1rem;
  }
}
.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio h3 {
  color: var(--secundario);
  font-weight: normal;
}

.servicio p {
  line-height: 2; /*se aplica el interlineado*/
  text-align: center;
}

.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/************Servicios***********/
